@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

body {
  background-image: url(../assets/coldplay-imagen-de-fondo-modified.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.titulo {
  text-align: center;
  font-size: 45px;
  padding: 20px;
  text-decoration: underline;
}

h2 {
  text-decoration: underline;
  padding: 20px;
}

/*estilos del header*/
header nav ul {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: whitesmoke;
}
header nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: whitesmoke solid 2px;
  font-weight: bolder;
}

.encabezado {
  position: sticky;
  top: 0px;
  background-color: #3e647c;
  font-weight: bolder;
  font-size: 1em;
  padding: 15px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}
.encabezado nav ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 0;
  padding: 0%;
}
.encabezado nav ul li {
  display: inline-block;
}

/*estilos del main*/
main {
  letter-spacing: 2px;
  padding: 20px;
  color: whitesmoke;
}

/*estilos propios de pagina principal*/
.falso-body main {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 1fr;
  column-gap: 20vh;
  justify-content: space-around;
}
.falso-body main .presentacion {
  text-align: center;
  letter-spacing: 3px;
  line-height: 25x;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imagen-principal {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.imagen-principal img {
  max-width: 100%;
  max-height: 50vh;
  object-fit: cover;
  box-shadow: 1px 1px 10px 1px whitesmoke;
}

/*estilos propios de pagina tour*/
.tour-main {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 1fr;
  column-gap: 20vh;
  justify-content: space-around;
  align-items: center;
  column-gap: 20vh;
}
.tour-main table tr td {
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}
.tour-main table tr td button {
  width: 130%;
  background-color: #19647E;
  color: whitesmoke;
  border: none;
  border-radius: 10%;
  transition: 0.3s;
}
.tour-main table tr td button:hover {
  background-color: #09a8dd;
  transition: 0.5s;
}
.tour-main table tr td button:active {
  border: 1px solid whitesmoke;
}

.imagen-tour img {
  max-width: 100%;
  max-height: 50vh;
  object-fit: cover;
  box-shadow: 1px 1px 10px 1px whitesmoke;
}

/*estilos propios de pagina discografia*/
.banda {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banda .temas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

iframe {
  padding: 0 20px;
}

.temas img {
  margin: 20px;
  width: 40%;
  box-shadow: 1px 1px 10px 1px whitesmoke;
}
.temas div h3 {
  text-decoration: underline;
}
.temas div ol {
  margin: 0;
  padding: 0;
}
.temas li {
  list-style: none;
}

/*estilos propios de pagina galeria*/
#galeria {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#galeria-fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
#galeria-fotos img {
  width: 30%;
  object-fit: cover;
  box-shadow: 1px 1px 10px 1px whitesmoke;
}

/*estilos propios de pagina contacto*/
#form {
  padding: 0 20px;
}
#form p {
  font-size: 1.3rem;
}
#form fieldset {
  padding: 20px;
  border: whitesmoke solid;
  line-height: 2.5rem;
}
#form fieldset legend {
  text-decoration: underline;
}

#nombre, #email, #telefono {
  width: 30%;
  height: 30px;
}

.button input {
  background-color: #19647E;
  color: whitesmoke;
  border: none;
  border-radius: 10%;
  transition: 0.3s;
}
.button input:hover {
  background-color: #09a8dd;
  transition: 0.5s;
}

/*estilos del footer*/
.pie {
  background-color: #3e647c;
  font-weight: bolder;
  color: whitesmoke;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pie p {
  margin: 0;
}
.pie img {
  width: 2rem;
}

/*aplicación de mediaqueries*/
/* mq MOBILE INDEX*/
@media screen and (max-width: 600px) {
  .encabezado {
    letter-spacing: 0px;
    padding: 15px 0px;
    font-size: 0.7rem;
  }
  .encabezado nav ul {
    letter-spacing: 1px;
  }
  .falso-body main {
    height: auto;
    grid-template-columns: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .falso-body main div img {
    width: 100%;
    height: 100%;
  }
  .titulo {
    font-size: 4rem;
  }
  .presentacion p {
    font-size: 1rem;
  }
  .pie {
    letter-spacing: 0;
    font-size: 1rem;
    padding: 0.5rem;
  }
  .pie img {
    width: 1rem;
    height: 1rem;
  }
  /* mq MOBILE DISCOGRAFIA*/
  .discografia {
    text-align: center;
  }
  .banda {
    flex-direction: column;
  }
  /* mq MOBILE GALERIA*/
  #galeria-fotos {
    display: flex;
    flex-direction: column;
  }
  #galeria-fotos img {
    object-fit: cover;
    padding: 0px;
    width: 100%;
    height: 100%;
  }
  /* mq MOBILE CONTACTO*/
  #contact #form {
    font-size: 0.7rem;
  }
  #contact p {
    font-size: 1rem;
  }
  #contact fieldset {
    line-height: 2rem;
  }
  #contact legend {
    text-align: center;
  }
}
/* mq para VISTA TABLET INDEX*/
@media screen and (max-width: 1024px) {
  .encabezado nav ul {
    gap: 1rem;
  }
  .titulo {
    font-size: 3rem;
  }
  .falso-body main {
    height: auto;
    grid-template-columns: 100%;
    font-size: 1rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  /* mq para VISTA TABLET TOUR*/
  .imagen-tour img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .tour-main {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    column-gap: 0.5rem;
    grid-template-columns: 100%;
    justify-items: center;
  }
  .tour table tr {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(3, 25%);
    justify-content: center;
    column-gap: 2em;
  }
  .tour table tr td {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
